
@import "tailwindcss"; 


@layer base {

  *, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    transition: background-color .2s, color .2s;
  }


  .html.dark, .html.dark body {
    background-color: #111827; 
    color: #ffffff;
  }
}


